.dashboard {
    height: 100vh;
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .ViewUsers_deleteText{
    width: 250px;
  }
  .ViewUsers_display h1 {
    width: 400px;
    border: 5px solid gray;
    border-radius: 8px;
    display: flex;
    background-color: #f1f1f1;
    margin: 10px;
    padding: 20px;
    font-size: 30px;
  }
  .ViewUsers_display p{
    width: 400px;
    border: 5px solid gray;
    border-radius: 8px;
    display: flex;
    background-color: #f1f1f1;
    margin: 10px;
    padding: 5px;
    font-size: 15px;
  }
  
  .dashboard__container {
    display: flex;
    flex-direction: column;
    text-align: center;
    background-color: #dcdcdc;
    padding: 30px;
  }
  .dashboard__btn {
    padding: 10px;
    font-size: 18px;
    margin-top: 10px;
    border: none;
    color: white;
    background-color: black;
  }
  .dashboard div {
    margin-top: 7px;
  }